.input-decorate,
.custom-select
	padding: 20px 30px
	border-radius: 15px
	border: 0
	border: 1px solid #646A89
	font: inherit
	resize: none
	width: 100%
	background: none
	margin: 0 0 15px
	transition: ease-out 0.5s
	&:focus
		outline: 0
textarea.input-decorate
	resize: none
.file-decorate-error span,
.input-error
	border-color: $redColor
.mail-error
	border-color: $orangeColor

.form
	.btn
		margin: 15px 0
.form-btn-container
	position: relative
/*-file-upload-*/
$heightContainerFile: 20px

.file-input-container
	position: relative

.input-file
	// height: $heightContainerFile
	visibility: hidden
	position: absolute
	margin-top: -$heightContainerFile

.file-decorate
	// height: $heightContainerFile
	border: 1px solid
	border-top: 0
	position: relative
	padding: 5px

	cursor: pointer

	span
		padding-left: 25px
		position: relative
		display: inline-block

		&::before
			content: ""
			@include positionElement(15px, 15px, 0, 0)
			@include bgImageEl("../images/controls/arrow-next-gray.svg")

	i
		@include positionElement(12px, 12px, 0, 2px, right, top, 2, none)
		@include bgImageEl("../images/controls/close-black.svg")
		cursor: pointer

.file-decorate-full i
	display: block

.notice-file
	position: absolute
	right: 0
	top: 0
	display: none

	i
		@include icoEl(30px, 30px, "../images/icons/danger-sign-black.svg")
		margin-left: 15px
.notice-file--show
	display: block
.hint-input-file
	color: $grayColor
	padding: 5px
	border: 1px solid
	border-bottom: 0

/*-file-upload-*/

/*-custom-select-*/

.custom-select
	cursor: pointer
	position: relative
	border-top: 1px solid $blackColor

	ul

		@include positionElement(100%, auto, 0, 100%, left, top, 1)

		opacity: 0
		visibility: hidden

		background: $whiteColor
		overflow: hidden

		border: 1px solid
		margin-left: -1px
		width: calc(100% + 2px)

		border-top: 0

		li
			padding: 5px
			cursor: pointer
			transition: ease-out 0.5s

			&:hover
				background: $grayColorSecond

	&.active
		z-index: 3

		ul
			visibility: visible
			opacity: 1

		i
			transform: translateY(-50%) rotate(180deg)

	span
		position: relative
		z-index: 2

	i
		@include bgImageEl("../images/controls/arrow-down-mini-black.svg")
		@include positionElement(12px, 12px, 5px, 50%, right, top, 2)
		transform: translateY(-50%)
/*-custom-select-*/
/*-checkbox-start-*/

.checkbox,
.radio
	display: inline-block
	position: relative
	padding: 5px
	padding-left: 25px
	cursor: pointer
	user-select: none
	margin: 0 0 15px
	border: 1px solid

	input
		@include positionElement(100%, 100%)
		opacity: 0

		&:checked~span
			&:after
				display: block

	span
		@include positionElement(15px, 15px, 5px, 6px)
		border: 1px solid $blackColor
		border-radius: 100%

		&:after
			content: ""

			@include positionElement(7px, 7px, 3px, 3px)
			display: none
			background: $blackColor
			border-radius: 100%
/*-checkbox-wp-*/
/*-checkbox-end-*/

/*password-field start*/
.password-field
	position: relative
	i
		position: absolute
		right: 0
		top: 0
		margin: 15px
		cursor: pointer
/*password-field end*/

/*.wpcf7-form*/
.wpcf7-form-control-wrap
	position: relative
	text-align: left

.wpcf7-list-item
	margin: 0

.wpcf7-checkbox
	padding-left: 30px
	position: relative
	display: block

	label
		position: relative
		display: block

	input
		position: absolute
		visibility: hidden

	.wpcf7-list-item-label
		&:before
			@include positionElement(15px, 15px, -30px, 1px)
			border: 1px solid $blackColor
			border-radius: 100%
			cursor: pointer

	input
		&:checked~.wpcf7-list-item-label
			&:after
				@include positionElement(7px, 7px, -25px, 6px)
				background-color: $blackColor
				border-radius: 100%
				cursor: pointer

.wpcf7 form .wpcf7-response-output
	margin: 0
	grid-column: span 4
.wpcf7-spinner
	background-color: $greenColor
	position: absolute
	top: 50%
	margin-top: -12px

.wpcf7 form .wpcf7-response-output
	display: flex
	flex-direction: column
	justify-content: space-around
	height: 50px
	margin: 12px 0 0
.wpcf7-not-valid-tip
	margin-top: -15px
	margin-bottom: 15px
.popup form	.wpcf7-response-output
	position: relative
	grid-column: span 12
/*.wpcf7-form*/

/*wp comments*/

.logged-in-as
	a
		margin-right: 15px
.com_block_star
	display: none
/*wp comments*/
