$blackColor: #202020

$grayColor: #686868

$grayColorSecond: #EEEEEE

$whiteColor: #ffffff

$redColor: #f25368

$orangeColor: #E88328

$greenColor: #76c100

$blueColor: #5b89b1

$yellowColor: #D4AF93

$pinkColor: #f94973
$pinkColorSecond: #ff9aa0
$violetColor: #3B1C47

$violetShadow: 0px 1.5rem 2.5rem rgb(27 43 124 / 15%)
$pinkShadow: 0px 1.5rem 2.5rem rgb(230 51 94 / 25%)

$lightPinkGradient: linear-gradient(90deg, #fdfeff 0%, #e3e7f6 100%)
$lightPinkShadow: 0px 0.2rem 0.4rem rgb(0 0 0 / 6%), 0px 0.4rem 0.6rem rgb(0 0 0 / 10%)
