.main-full
  .detail-header
    .detail-header-item.detail-header-item--first
      a.back-link(href="#")
        i.back-ico
        span Вернуться 
    .detail-header-item 
      i.calendar-ico
      span 10/10/10
    .detail-header-item 
      a(href="#") 
        i.avatar-ico
        span Alex Gruv
    .detail-header-item
      a(href="#") 
        i.review-ico
        span Комментарии
    .detail-header-item 
      a(href="#")
        i.view-ico
        span Просмотры