section 
	.main-full 
		h2 Контакты
	.contacts_home.main-grid
		.contacts_home-line
			h3 Aдрес
			span 123298, г. москва, 3-я хорошевская улица дом 18, корпус 1, офис 311     
		
		.contacts_home-line
			h3 Режим работы:
			span
				div вс-чт: 12:00 - 00:00
				div пт-сб: 12:00 - 02:00
		.contacts_home-line
			h3 Телефоны:
			span
				div
					a(href="#") 8 (495) 114-54-77
				div
					a(href="#") 8 (495) 114-54-77
		.contacts_home-line
			h3 Почта:
			a(href="mailto:mail@mail.ru") mail@mail.ru
	.main-full.map_home
		include ../all-template/map.pug