.main_home
  .owl-main.owl-carousel
    each val,index in ["","",""]
      .main_home-item.flex-align
        .img-cover
          img(src="../images/temp/"+(index+1)+".jpg", alt="")
        .main_home-content
          .main-full
            h2 Vector icons
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam at earum esse id ipsa, magnam tenetur quod qui enim minima tempore quibusdam itaque voluptatum debitis quisquam minus, quas culpa nihil?
            .btn-container 
              a.btn.btn--black(href="#") Подробнее 
