include item.pug
include card.pug
include pagination.pug
include forms.pug
include popup.pug 
include social.pug 
include log-reg.pug 
include roof-content.pug 
include auth.pug 
include reviews-item.pug