mixin pagination()
  // pagination-component start
  .pagination
    a(href="#").pagination-prev Назад
    span.active 1 
    a(href="#") 2 
    a(href="#") 3 
    a(href="#").pagination-dotted ...
    a(href="#") 20
    a(href="#").pagination-next Вперед
  // pagination-component start