mixin reviewsItem(name,date)      
  .reviews-item
    .reviews-head
      .reviews-grade.reviews-head-item 5
      .reviews-name.reviews-head-item= name
      .reviews-date.reviews-head-item= date
    .reviews-body
      .reviews-img.img-cover
        img(src="../images/temp/avatar-1.jpg", alt="")
      .reviews-text 
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod laboriosam consequatur voluptatibus ducimus quas, eius minima accusamus modi porro quidem illo architecto dolore nam unde laborum ipsum, placeat quasi!