+modal-template(1, "Заказать звонок") 
	- var backCallField = [["text","Фио","form--col__full"],["phone","form--col__full"],["email","Email","form--col__full"],["sumbit","О","form--col__full"],["submit","btn btn-send","Заказать звонок"]];
	+form(backCallField)