doctype html
html
	// head start
	include default/head.pug 
	// head end
	body
	.all-images
		img(src="../images/controls/arrow-up-black.svg", alt="")
		img(src="../images/controls/arrow-up-white.svg", alt="")


		img(src="../images/controls/arrow-down-black.svg", alt="")
		img(src="../images/controls/arrow-down-white.svg", alt="")

		img(src="../images/controls/arrow-left-black.svg", alt="")
		img(src="../images/controls/arrow-left-white.svg", alt="")

		img(src="../images/controls/arrow-right-black.svg", alt="")
		img(src="../images/controls/arrow-right-white.svg", alt="")

		img(src="../images/controls/arrow-up-black.svg", alt="")
		img(src="../images/controls/arrow-up-white.svg", alt="")


		img(src="../images/controls/carret-up-black.svg", alt="")
		img(src="../images/controls/carret-up-gray.svg", alt="")
		img(src="../images/controls/carret-up-white.svg", alt="")

		img(src="../images/controls/carret-down-black.svg", alt="")
		img(src="../images/controls/carret-down-gray.svg", alt="")
		img(src="../images/controls/carret-down-white.svg", alt="")

		img(src="../images/controls/carret-left-black.svg", alt="")
		img(src="../images/controls/carret-left-gray.svg", alt="")
		img(src="../images/controls/carret-left-white.svg", alt="")

		img(src="../images/controls/carret-right-black.svg", alt="")
		img(src="../images/controls/carret-right-gray.svg", alt="")
		img(src="../images/controls/carret-right-white.svg", alt="")
		

		img(src="../images/controls/close-black.svg", alt="")
		img(src="../images/controls/close-white.svg", alt="")
		img(src="../images/controls/hamburger-black.svg", alt="")
		img(src="../images/controls/hamburger-white.svg", alt="")
		img(src="../images/controls/minus.svg", alt="")
		img(src="../images/controls/play.svg", alt="")
		img(src="../images/controls/plus.svg", alt="")




		img(src="../images/icons/avatar-black.svg", alt="")
		img(src="../images/icons/avatar-white.svg", alt="")
		img(src="../images/icons/basket-black.svg", alt="")
		img(src="../images/icons/basket-white.svg", alt="")
		img(src="../images/icons/danger-sign-black.svg", alt="")
		img(src="../images/icons/loop-black.svg", alt="")
		img(src="../images/icons/loop-white.svg", alt="")
		img(src="../images/icons/mail-black.svg", alt="")
		img(src="../images/icons/mail-white.svg", alt="")
		img(src="../images/icons/marker.svg", alt="")
		img(src="../images/icons/phone-black.svg", alt="")
		img(src="../images/icons/phone-white.svg", alt="")
		img(src="../images/icons/review-black.svg", alt="")
		img(src="../images/icons/star-black.svg", alt="")
		img(src="../images/icons/star-white.svg", alt="")

		img(src="../images/icons/login-black.svg", alt="")
		img(src="../images/icons/login-white.svg", alt="")
		img(src="../images/icons/logout-black.svg", alt="")
		img(src="../images/icons/logout-white.svg", alt="")

		img(src="../images/icons/calendar-black.svg", alt="")
		

		img(src="../images/social/facebook-black.svg", alt="")
		img(src="../images/social/facebook-white.svg", alt="")

		img(src="../images/social/google-black.svg", alt="")
		img(src="../images/social/google-white.svg", alt="")
		
		img(src="../images/social/instagram-black.svg", alt="")
		img(src="../images/social/instagram-white.svg", alt="")

		img(src="../images/social/twitter-black.svg", alt="")
		img(src="../images/social/twitter-white.svg", alt="")

		img(src="../images/social/youtube-black.svg", alt="")
		img(src="../images/social/youtube-white.svg", alt="")

		img(src="../images/social/vk-black.svg", alt="")
		img(src="../images/social/vk-white.svg", alt="")


	// footer end