doctype html
html
	// head start
	include default/head.pug 
	// head end
	body
		// popup-menu start
		include popup/menu.pug 
		// popup-menu end
 
		// popup-form start
		include popup/backcall.pug
		// popup-form end

		// popup-search start
		include popup/search.pug
		// popup-search end

		// header start
		include default/header.pug
		// header end

		// header start
		include default/header.pug
		
		// header end
		+roofContent("Регистрация")

			+auth()
	
		// footer start 
		.stub-footer
		include default/footer.pug
		
		// footer end  